{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-4">
    <h2 class="join-message">Change Your Password.</h2>
    <form action="/users/changepw" id="user_form" method="POST">
      {{ form.hidden_tag() }}

      <p>Enter your current password:</p>
      {% if form.oldPassword.errors %}
        {% for error in form.oldPassword.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      {% endif %}
      {{ form.oldPassword(class="form-control") }}

      <p>Enter new password:</p>
      {% if form.newPassword1.errors %}
        {% for error in form.newPassword1.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      {% endif %}
      {{ form.newPassword1(class="form-control") }}
      
      <p>Confirm new password:</p>
      {% if form.newPassword2.errors %}
        {% for error in form.newPassword2.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      {% endif %}
      {{ form.newPassword2(class="form-control") }}
      <div class="edit-btn-area">
        <button class="btn btn-success" id="btn">Change Password!</button>
        <a href="/users/{{ user_id }}" class="btn btn-outline-secondary">Cancel</a>
      </div>
    </form>      
  </div>
</div>
</div>
    
{% endblock %}