{% extends 'base.html' %}

{% block content %}

  <div class="row justify-content-md-around">
    <div class="col-md-4">
      <h2 class="join-message">Edit Your Profile.</h2>
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}        
        {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
          {{ field.label }}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(class="form-control") }}
        {% endfor %}

        <p>To confirm changes, enter your password:</p>
        {% if form.password.errors %}
          {{ form.password.label }}
          {% for error in form.password.errors %}
            <span class="text-danger">
            {{ error }}
          </span>
          {% endfor %}
        {% endif %}
        {{ form.password(class="form-control") }}
        <div class="edit-btn-area">
          <button class="btn btn-success">Edit this user!</button>
          <a href="/" class="btn btn-outline-secondary">Cancel</a>
        </div>
      </form>
    </div>  
    <div class="col-md-4">      
      <h2 class="join-message">Change Your Password.</h2>
      <form action="/users/changepw" method="GET" id="user_form">
        <button class="btn btn-success">Change Password!</button>
        <div class="edit-btn-area">
        </div>
      </form>
    </div>
    </div>
  </div>

{% endblock %}